<div class="jumbotron text-center">

<h2>Products</h2>


<div *ngIf="loading">
  <div>loading</div>
</div>
<div *ngIf="!loading">
<div class="products" *ngFor="let product of products">
  <h4>{{product.title}}</h4>
  <div class="price">Price: {{product.price}}$</div>
  <div>Quantity: {{product.quantity}}</div>
  <div>Type: {{product.type}}</div>
  <img src="assets/{{product.picUrl}}" />
  <div class="buttons">
    <button class="btn btn-primary" [routerLink]="['/order', product._id]" >Buy</button>
    <button class="btn btn-default" (click)="updateProduct(product)" >Update Product</button>
    <button class="btn btn-danger" (click)="deleteProduct(product._id)" >Delete</button>
  </div>
  <br>
  <br>
</div>
</div>

<div *ngIf="updateForm" class="updateForm">
  <flash-messages></flash-messages>
  <div (click)="updateProduct()" class="close">
    X
  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" [(ngModel)]="title" class="form-control" name="title">
  </div>
  <div class="form-group">
    <select [(ngModel)]="type" name="type">
<option *ngFor="let p of productTypes" [ngValue]="p">{{p}}</option>
</select>
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="number" [(ngModel)]="quantity" class="form-control" name="quantity">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="number" [(ngModel)]="price" class="form-control" name="price">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="description" class="form-control" name="description">
  </div>
  <button type="submit"class="bt btn-primary" (click)="submitUpdate()">Update</button>
</div>

</div>
