<div class="jumbotron text-center">
  <h1>Eshop prototype page</h1>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']"> Login </a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Express server with RESTful structure</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Front-End based on Angular4</p>
  </div>
  <div class="col-md-4">
    <h3>Multer</h3>
    <p>Upload picture capability with Multer</p>
  </div>
</div>
  <div class="row">
    <div class="col-md-4">
      <h3>Bcrypt</h3>
      <p>Using bcrypt for users password protection</p>
    </div>
    <div class="col-md-4">
      <h3>MongoDB</h3>
      <p>Using mongoose library and it's scheamas to have control on database based on Mlab cloud</p>
    </div>
    <div class="col-md-4">
      <h3>JWT Tokens</h3>
      <p>Full featured authentication using JSON web tokens</p>
    </div>

</div>
